*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px) {
  .container{
      width:750px; 
  }
}
@media (min-width:992px) {
  .container{
      width:970px;
  }
}
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
.membersSection{
  padding: 50px 0;
}
.content{
  margin-left: 80px;
  max-width: 700px;
}
.membersSection .container .searchContent{
  position: relative;
}
h2{
  margin-bottom: 40px;
}
input{
  width:100% ;
  padding:20px 10px 20px 50px;
  border: none;
  border-bottom:1px solid #eee ;
}
input:focus{
  outline: none;
}
input::placeholder{
  font-size: 15px;
}
.icon{
  position: absolute;
  left: 5px;
  bottom: 15px;
}
.members{
  margin-top: 20px;
}
.individualMember{
  border: 1px solid #cbcdd4;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-radius: 5px;
}
.individualMember .name{
  display: flex;
  align-items: center;
}
.individualMember .name p{
  margin-left: 10px;
}
.circle{
  width:30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #cbcdd4;
}